@section metadata {
    <grasite property="metadescription"></grasite>
    <grasite property="dcmetadata"></grasite>
    <grasite property="twittermetadata"></grasite>
    <grasite property="facebookmetadata"></grasite>
}
<div class="row" style="margin-bottom: 1em;">
    <div class="col-xs-12">
        <img src="~/images/banner.jpg"
             alt="Illustration of a meadow."
             class="img-responsive img-rounded"
             style="width: 100%;"
             asp-append-version="true" />
    </div>
</div>
<div class="row" style="margin-top: 2em; font-size: larger;">
    <div class="col-sm-3">
        <b>Adult and Teen Program</b>
        <p>
            Ages 12 and 18 can choose which Summer Reading Program to join. Just select the desired program during registration.
            Teen (ages 12-18): Read a minimum of 3 books this summer to win a tape measure and be entered in the Grand Prize Drawing for a $300 Amazon gift card.
            Adult (ages 18+): Read a minimum of 3 books this summer to win a tape measure and be entered in the Grand Prize Drawing for a $300 Amazon gift card.
            To win more prizes, continue reading books, attending library programs, and completing Challenges!
        </p>
    </div>
    <div class="col-sm-6">
        <p>
            Welcome to <grasite property="name"></grasite>. Our program starts soon but you can
            join now to be ready to go when the program starts!
            <div class="row" style="margin-top: 2em;">
                <div class="col-sm-6" style="margin-top: 0.5em;">
                    <a asp-controller="Join" asp-action="Index" class="btn btn-primary btn-block btn-lg">
                        <span class="fa fa-book"></span> Join!
                    </a>
                </div>
                <div class="col-sm-6" style="margin-top: 0.5em;">
                    <a asp-controller="SignIn" asp-action="Index" class="btn btn-success btn-block btn-lg">
                        <span class="fa fa-sign-in"></span> Sign in!
                    </a>
                </div>
            </div>
        </p>
    </div>
    <div class="col-sm-3">
        <p>Reading for 20 minutes a day helps build a strong lifelong reading habit.</p>
        <p>Reading is fundamental for developing literacy skills!</p>
    </div>
</div>
