@section metadata {
    <grasite property="metadescription"></grasite>
    <grasite property="dcmetadata"></grasite>
    <grasite property="twittermetadata"></grasite>
    <grasite property="facebookmetadata"></grasite>
}
<div class="row" style="margin-bottom: 1em;">
    <div class="col-xs-12">
        <img src="~/images/banner.jpg"
             alt="Reading Program Banner."
             class="img-responsive img-rounded"
             style="width: 100%;"
             asp-append-version="true" />
    </div>
</div>
<div class="row" style="margin-top: 2em; font-size: larger;">
    <div class="col-sm-4">
        <b>Adult and Teen Program</b>
        <p>
            Ages 12 and 18 can choose which Summer Reading Program to join. Just select the desired program during registration.
        </p>
        <p>
            Teen (ages 12-18): Read a minimum of 3 books this summer to win a tape measure and be entered in the Grand Prize Drawing for a $300 Amazon gift card.
        </p>
        <p>
            Adult (ages 18+): Read a minimum of 3 books this summer to win a tape measure and be entered in the Grand Prize Drawing for a $300 Amazon gift card.
        </p>
            To win more prizes, continue reading books, attending library programs, and completing Challenges!
        </p>
    </div>
    <div class="col-sm-4">
        <p>
            Thanks for participating in <grasite property="name"></grasite>!
        </p>
    </div>
    <div class="col-sm-4">
        <b>Adult and Teen Programs</b>
        <p>
            Ages 12 and 18 can choose which Summer Reading Program to join. Just select the desired program during registration.
        </p>
        <p>
            Teen (ages 12-18): Read a minimum of 3 books this summer to win a tape measure and be entered in the Grand Prize Drawing for a $300 Amazon gift card.
        </p>
        <p>
            Adult (ages 18+): Read a minimum of 3 books this summer to win a tape measure and be entered in the Grand Prize Drawing for a $300 Amazon gift card.
        </p>
            To win more prizes, continue reading books, attending library programs, and completing Challenges!
        </p>
    </div>
</div>
